<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://blistabloc.com/" target="_blank">
          <!-- <img src="{{site.baseurl}}/img/featured/blistabloc/blistabloc.png" alt=""> -->
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://blistabloc.com/" target="_blank" class="highlight-link">blistabloc</a>
        </div>
        <p>Custom wordpress theme built with Timber and Woocommerce for blistabloc, the only reactive shoe insert that prevents
          blisters from forming.</p>
      </figcaption>
    </div>

  