<header class="intro">
    <h1 class="intro__hello">Hello World!  <span class="wave">👋</span>
    </h1>
  
    <h3 class="intro__tagline">I'm
      <span class="name">Yong Kang</span>, a software engineer &amp; an aspiring entrepreneur.</h3>

    <h3 class="intro__description">My life-long goal is to build a sustainable future by positioning myself at the forefront of the fourth industrial revolution. </h3>

  
    <h4 class="intro__contact">
      <span>Always looking for passionate individuals to connect, learn and share a cup of ☕ with!<br></span>
      <span> DM me or contact me </span>
      <span class="emoji pointer">👉</span>
      <span>
        <a href="mailto:chiayongkang@hotmail.com.com" target="_blank" class="highlight-link">chiayongkang@hotmail.com</a>
      </span>
    </h4>
  </header>

  