<section class="section other-projects">
  <div class="section__title">Projects</div>
  <div class="section__content">
    {% for project in site.data.other-projects %}
    <div class="project">
      <div class="project__name">
        <a href="{{project.url}}" target="_blank" class="arrow-link">{{project.name}}</a>
      </div>
      <p>{{project.description}}</p>
      <div class="project__used">
        {% for item in project.used %}
        <span class="project__used__item">{{item.thing}}</span>
        {% endfor %}
        {% if project.code %}
        <a href='{{project.code}}' target='_blank'>
          <span class='c-social-nav__icon' data-icon='ei-sc-github' data-size='sm'></span>
        </a>
        {% endif %}
      </div>
      
    </div>
    {% endfor %}
  </div>
</section>
